# Dependencies
/vendor/
/node_modules/

# Configuration files
.env
.env.local
.env.*

# Log files
logs/
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDE / Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
dist/
build/

# PHP specific
composer.lock
